body{
    
}
.event-box{
    background-color: #EEEEEE;
    width: 60%;
    height: 50vh;
    position: absolute;
    margin-top: 7.7rem;
    margin-left: 18rem;
}

.box1{
    width: 50%;
    height: 50vh;
    display: inline-block;

}

.box2{
    display: inline-block;
    width: 50%;
    height: 50vh;
    position: absolute;
}

img{
    width: 60%;
    height: 45vh;
    position: relative;
    margin-left: 3.5rem;
    margin-top: 0.8rem;
}

.event-name{
    display: block;
    font-size: 2rem;
    position: relative;
    margin-top: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.dates{
    display:block;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


.Venue{
    display:block;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}